body {
    direction: rtl;
}

/*--------------------------------------------------------------------------------------------------------------------*/
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1429px !important;
    }
}

/*--------------------------------------------------------------------------------------------------------------------*/

.logo img{
    width: 20%;
}

.header{
    padding-top: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.login-btn {
    background-color: #008475;
    border: unset;
    padding: 17px 32px;
    border-radius: 8px;
    font-size: 14px;
}

.login-btn a {
    text-decoration: none;
    color: #FFFFFF;
}

.login-btn:hover {
    background-color: #087368;
}

.btn-outline-success {
    left: 10% !important;
    position: absolute !important;
    z-index: 10 !important;
    background-color: #008475 !important;
    color: #FFFFFF !important;
}

.btn-outline-success:hover {
    background-color: #087368 !important;
    transition: 0.3s;
}

.shop-bag{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F46036;
    padding: 10px 26px 10px 10px;
    border: unset;
    border-radius: 8px;
}

.nav-item{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.hero{
    margin-top: 15px;
    position: relative;
}

.hero-img img{
    width: 100%;
}

.hero-btn{
    background-color: #FFFFFF;
    color: #008475;
    padding: 16px 32px;
    border: unset;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    right: 45%;
}

.hero-btn:hover{
    background-color: #008475;
    color: #FFFFFF;
    transition: 0.3s;
}

/*--------------------------------------------------------------------------------------------------------------------*/

.products{
    margin-top: 30px;

}

.products-title{
    font-size: 32px;
    color: #000000;
    text-shadow: 1px 7px 8px rgba(0, 0, 0, 0.5);
    padding-bottom: 35px;
}

.card{
    -webkit-box-shadow: 10px 10px 38px -5px rgba(145,158,171,0.24);
    -moz-box-shadow: 10px 10px 38px -5px rgba(145,158,171,0.24);
    box-shadow: 10px 10px 38px -5px rgba(145,158,171,0.24);
}

.btn-primary{
    background-color: #008475!important;
    border: unset!important;
    padding: 3px 10px 7px 10px !important;
}

.price{
    color: #F46036;
    font-size: 17px;
}

.card-body-price{
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}